:root{
    --bg: #2E3440;
    --card-bg: #3B4252;
    --nav-bg: #3B4252;
    --font-clr: #ECEFF4;
    --accnt-font-clr: #E5E9F0;
    --skill-clr: #5E81AC;
    --accent: #D08770;
    --shadow: #00000064;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-style: normal;
}

body{
    background-color: var(--bg);
    padding: 1rem .5rem;
}

/*
    Navbar
*/

nav{
    padding: .25rem;
    border-radius: 2rem;
    align-items: center;

    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 20px var(--shadow);
    background-color: var(--nav-bg);
}

.profile-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav-btn{
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: var(--font-clr);
    
    text-decoration: none;
    text-align: center;

    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--accent);
}

.links{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link{
    font-size: 1.2rem;
    color: var(--font-clr);

    text-decoration: none;
    text-align: center;
}

/*
    Header
*/

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    color: var(--font-clr);
    margin: 1rem 0;
}

.name{
    font-size: 3rem;
    font-style: bold;
}

.title{
    margin: 1rem 0;
    font-size: 1.5rem;
}

.summary{
    text-align: center;
    margin: .5rem 0;
    font-size: 1.3rem;
}

.border{
    width: 100%;
    padding: 0 .7rem;
}

.border>span{
    width: 100%;
    height: .1rem;
    display: block;
    background-color: white;
}

/*
    Main
*/

main{
    padding: 1rem 1.2rem;
}


/*
    Card
*/

.card{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--card-bg);
    box-shadow: 5px 5px 20px var(--shadow);
    color: var(--font-clr);

    width: 80%;
}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-img{
    overflow: hidden;
    border-radius: 1rem;
    max-height: 15rem;
}

.card-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: .8rem;
}

.skill{
    font-size: 1rem;
    color: var(--font-clr);

    width: fit-content;
    margin-right: .4rem;
    margin-bottom: .4rem;
    padding: .4rem 1rem;

    border-radius: .6rem;
    background-color: var(--skill-clr);
}

.card-summary{
    width: 100%;
    font-size: 1.2rem;

    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.card-btn{
    width: 100%;
    font-size: 1.5rem;
    text-decoration: none;

    margin-top: 1rem;
    padding: .5rem 0;

    display: flex;
    justify-content: center;

    color: var(--font-clr);
    border-radius: 1rem;
    background-color: var(--accent);
}

/*
    Carousel
*/

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%; /* Adjust based on your needs */
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.carousel-slide {
  flex: 0 0 auto;
  width: 100%;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-btn.prev { 
    left: 10px;
    font-size: 1.5rem;
    text-decoration: none;

    padding: .5rem 1rem;

    display: flex;
    justify-content: center;

    color: var(--font-clr);
    border-radius: .5rem;
    background-color: var(--accent);
}
.carousel-btn.next { 
    right: 10px;
    font-size: 1.5rem;
    text-decoration: none;

    padding: .5rem 1rem;

    display: flex;
    justify-content: center;

    color: var(--font-clr);
    border-radius: .5rem;
    background-color: var(--accent); 
}

